<p>Hello Friends,</p>

<p>Here, you will learn how to set up passwordless login in laravel. if you want to see an example of a laravel passwordless magic login link generator then you are in the right place. We will use laravel passwordless login with a magic link tutorial. step by step explain laravel passwordless magic login links.</p>

<p>If you want to add a new feature for the authentication system with login with a magic link, so users don't need to remember the password for authentication. Users can easily add their email or username and they will receive an email with a magic link. Using the magic link they will be able to log in to the website. We will use grosv/laravel-passwordless-login composer package to add a password-less system. so, let's follow the below steps:</p>

<p>You can add a laravel password-less login with laravel 6, laravel 7, laravel 8, and laravel 9 versions.</p>

<p>Here are the all steps.</p>

<strong class="step">Step 1: Install Laravel</strong>

<p>This is optional; however, if you have not created the laravel app, then you may go ahead and execute the below command:</p>

<pre class="prettyprint">
composer create-project laravel/laravel example-app
</pre>

<strong class="step">Step 2: Setup Database Configuration</strong>

<p>After successfully installing the laravel app then configuring the database setup. We will open the ".env" file and change the database name, username and password in the env file.</p>

<strong>.env</strong>

<pre class="prettyprint">
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=Enter_Your_Database_Name
DB_USERNAME=Enter_Your_Database_Username
DB_PASSWORD=Enter_Your_Database_Password
</pre>

<strong class="step">Step 3: Install Auth Scaffold</strong>

<p>Laravel's laravel/ui package provides a quick way to scaffold all of the routes and views you need for authentication using a few simple commands:</p>

<pre class="prettyprint">
composer require laravel/ui
</pre>

<p>Next, we need to generate auth scaffold with bootstrap, so let's run the below command:</p>

<pre class="prettyprint">
php artisan ui bootstrap --auth
</pre>

<p>Then, install npm packages using the below command:</p>

<pre class="prettyprint">
npm install
</pre>

<p>At last, built bootstrap CSS using the below command:</p>

<pre class="prettyprint">
npm run build
</pre>

<strong class="step">Step 4: Install grosv/laravel-passwordless-login Package</strong>

<p>In this step, we will install grosv/laravel-passwordless-login to generate the login url. so let's run the below command:</p>

<pre class="prettyprint">
composer require grosv/laravel-passwordless-login
</pre>

<strong class="step">Step 5: Update Login Blade File</strong>

<p>In this step, we will update auth login blade file. in this file we will add a new Password Less Login link. so let's update the following file:</p>

<strong>resources/views/auth/login.blade.php</strong>

<pre class="prettyprint">
@extends('layouts.app')
  
@section('content')
&lt;div class="container"&gt;
    &lt;div class="row justify-content-center"&gt;
        &lt;div class="col-md-8"&gt;
            &lt;div class="card"&gt;
                &lt;div class="card-header"&gt;{{ __('Login') }}&lt;/div&gt;
  
                &lt;div class="card-body"&gt;
                    &lt;form method="POST" action="{{ route('login') }}"&gt;
                        @csrf
  
                        @if (session('message'))
                            &lt;div class="alert alert-success"&gt;{{ session('message') }}&lt;/div&gt;
                        @endif
  
                        &lt;div class="row mb-3"&gt;
                            &lt;label for="email" class="col-md-4 col-form-label text-md-end"&gt;{{ __('Email Address') }}&lt;/label&gt;
  
                            &lt;div class="col-md-6"&gt;
                                &lt;input id="email" type="email" class="form-control @error('email') is-invalid @enderror" name="email" value="{{ old('email') }}" required autocomplete="email" autofocus&gt;
  
                                @error('email')
                                    &lt;span class="invalid-feedback" role="alert"&gt;
                                        &lt;strong&gt;{{ $message }}&lt;/strong&gt;
                                    &lt;/span&gt;
                                @enderror
                            &lt;/div&gt;
                        &lt;/div&gt;
  
                        &lt;div class="row mb-3"&gt;
                            &lt;label for="password" class="col-md-4 col-form-label text-md-end"&gt;{{ __('Password') }}&lt;/label&gt;
  
                            &lt;div class="col-md-6"&gt;
                                &lt;input id="password" type="password" class="form-control @error('password') is-invalid @enderror" name="password" autocomplete="current-password"&gt;
  
                                @error('password')
                                    &lt;span class="invalid-feedback" role="alert"&gt;
                                        &lt;strong&gt;{{ $message }}&lt;/strong&gt;
                                    &lt;/span&gt;
                                @enderror
                            &lt;/div&gt;
                        &lt;/div&gt;
  
                        &lt;div class="row mb-3"&gt;
                            &lt;div class="col-md-6 offset-md-4"&gt;
                                &lt;div class="form-check"&gt;
                                    &lt;input class="form-check-input" type="checkbox" name="remember" id="remember" {{ old('remember') ? 'checked' : '' }}&gt;
  
                                    &lt;label class="form-check-label" for="remember"&gt;
                                        {{ __('Remember Me') }}
                                    &lt;/label&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
  
                        &lt;div class="row mb-0"&gt;
                            &lt;div class="col-md-8 offset-md-4"&gt;
                                &lt;button type="submit" class="btn btn-primary"&gt;
                                    {{ __('Login') }}
                                &lt;/button&gt;
  
                                OR
  
                                &lt;button type="submit" class="btn btn-success" name="submit" value="password-less"&gt;
                                    Password Less Login
                                &lt;/button&gt;
  
                                &lt;br/&gt;
  
                                @if (Route::has('password.request'))
                                    &lt;a class="btn btn-link" href="{{ route('password.request') }}"&gt;
                                        {{ __('Forgot Your Password?') }}
                                    &lt;/a&gt;
                                @endif
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/form&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
@endsection
</pre>

<strong class="step">Step 6: Update LoginController</strong>

<p>In this step, we will update the LoginController.php file. in this file, we will add a new Password Less Login. so let's update the following file:</p>

<strong>app/Http/Controllers/Auth/LoginController.php</strong>

<pre class="prettyprint">
&lt;?php
  
namespace App\Http\Controllers\Auth;
  
use App\Http\Controllers\Controller;
use App\Providers\RouteServiceProvider;
use Illuminate\Foundation\Auth\AuthenticatesUsers;
use Illuminate\Http\Request;
use App\Models\User;
use App\Notifications\SendPasswordLessLinkNotification;
  
class LoginController extends Controller
{
    /*
    |--------------------------------------------------------------------------
    | Login Controller
    |--------------------------------------------------------------------------
    |
    | This controller handles authenticating users for the application and
    | redirecting them to your home screen. The controller uses a trait
    | to conveniently provide the functionality to your applications.
    |
    */
  
    use AuthenticatesUsers;
  
    /**
     * Where to redirect users after login.
     *
     * @var string
     */
    protected $redirectTo = RouteServiceProvider::HOME;
  
    /**
     * Create a new controller instance.
     *
     * @return void
     */
    public function __construct()
    {
        $this->middleware('guest')->except('logout');
    }
  
    /**
     * Write code on Method
     *
     * @return response()
     */
    public function login(Request $request)
    {
  
        if($request->input('submit') == 'password-less'){
            $user = $this->loginViaPasswordLessLink($request);
  
            if(!$user){
                return redirect()->route('login')
                ->withErrors(['email' => 'User with this email does not exist.'])
                ->withInput();
            }
 
            return redirect()->route('login')
                    ->withMessage('Password Less Link Sent to the registered email ID.');
        } 
  
        $this->validateLogin($request);
 
        if (method_exists($this, 'hasTooManyLoginAttempts') &&
            $this->hasTooManyLoginAttempts($request)) {
            $this->fireLockoutEvent($request);
 
            return $this->sendLockoutResponse($request);
        }
  
        if ($this->attemptLogin($request)) {
            if ($request->hasSession()) {
                $request->session()->put('auth.password_confirmed_at', time());
            }
            return $this->sendLoginResponse($request);
        }
  
        $this->incrementLoginAttempts($request);
  
        return $this->sendFailedLoginResponse($request);
    }
    /**
     * Write code on Method
     *
     * @return response()
     */
    public function loginViaPasswordLessLink(Request $request)
    {
        $user = User::where('email', $request->input('email'))->first();
  
        if ($user) {
            $user->notify(new SendPasswordLessLinkNotification());
        }
  
        return $user;
    }
}
</pre>

<strong class="step">Step 7: Create Notification Class</strong>

<p>In this step, we will update the SendPasswordLessLinkNotification.php notification for sending emails with a magic link. let's create a notification by following the command:</p>

<pre class="prettyprint">
php artisan make:notification SendPasswordLessLinkNotification
</pre>

<p>Next, update the following file with code.</p>

<strong>app/Notifications/SendPasswordLessLinkNotification.php</strong>

<pre class="prettyprint">
&lt;?php
  
namespace App\Notifications;
  
use Illuminate\Bus\Queueable;
use Illuminate\Contracts\Queue\ShouldQueue;
use Illuminate\Notifications\Messages\MailMessage;
use Illuminate\Notifications\Notification;
use Grosv\LaravelPasswordlessLogin\LoginUrl;
  
class SendPasswordLessLinkNotification extends Notification
{
    use Queueable;
  
    /**
     * Create a new notification instance.
     *
     * @return void
     */
    public function __construct()
    {
          
    }
  
    /**
     * Get the notification's delivery channels.
     *
     * @param  mixed  $notifiable
     * @return array
     */
    public function via($notifiable)
    {
        return ['mail'];
    }
  
    /**
     * Get the mail representation of the notification.
     *
     * @param  mixed  $notifiable
     * @return \Illuminate\Notifications\Messages\MailMessage
     */
    public function toMail($notifiable)
    {
  
        $generator = new LoginUrl($notifiable);
        $generator->setRedirectUrl('/home');
        $url = $generator->generate();
  
        return (new MailMessage)
                    ->subject('Your Password Less Link!')
                    ->line('Click this link to log in!')
                    ->action('Login', $url)
                    ->line('Thank you for using our application!');
    }
  
    /**
     * Get the array representation of the notification.
     *
     * @param  mixed  $notifiable
     * @return array
     */
    public function toArray($notifiable)
    {
        return [
              
        ];
    }
}
</pre>

<strong class="step step-start">Run Laravel App:</strong>

<p>All the required steps have been done, now you have to type the given below command and hit enter to run the Laravel app:</p>

<pre>
php artisan serve
</pre>

<p>Now, Go to your web browser, type the given URL and view the app output:</p>

<pre>
http://localhost:8000/
</pre>

<strong>Login Page:</strong>

<div><img src="/image/laravel-magic-link.png" style="width: 100%; height: 100%; border: 1px solid #d2d2d2;"></div>

<strong>Email Preview:</strong>

<div><img src="/image/laravel-magic-link-2.png" style="width: 100%; height: 100%; border: 1px solid #d2d2d2;"></div>

<p>I hope it can help you...</p>